.bills{
  width: 25vw;
  height: auto;
  margin: 10px auto;
  position: relative;
  input{
    position: absolute;
    width: 90%;
    top: 10;
    left: 0;
    height:40px;
    padding: 20px;
    
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}