.background-div{
    min-height: 130vh;
    width: 100vw;
    background-color: #C5E4E7

}

.wrapper{
    width: 60vw;
    height: 470px;
    margin: 70px auto;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;

}

.div1 {
    width:28vw ;
    display: flex;
    flex-direction: column;
    height:380px ;
    margin: 25px;
}

.div2{
    width: 28vw;
    display: flex;
    flex-direction: column;
    height: 380px;
    margin: 25px;
    background-color: #00474B;
    border-radius: 15px;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
    .reset {
            width: 25vw;
            height: 50px;
            margin-top: 100px;
            position: relative;
    
            button {
                position: absolute;
                width: 90%;
                height: 40px;
                left: -10px;
                background-color: #26C2AE;;
                border-color: #26C2AE;
                color: #00474B;
            }
        }

}

@media (max-width:1000px)  {
    .wrapper{
      width: 400px;
      height: auto;
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
     

    
    }}


 @media only screen and (max-width:1000px) {
    .div1 {
            width: 90%;
            align-items: center;
    
            :nth-child(1) {
                display: flex;
                flex-direction: column;
            }
    
            .div2 {
                width: 90%;
                align-items: center;
    
                :nth-child(1) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
 }

 @media only screen and (max-width(750)) {
    .wrapper{
      .div2 {
width: 500px;
      }
    }
 }